In [1]:
# Import libraries
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
# Ignore printing warnings for general readability
import warnings 
warnings.filterwarnings("ignore")

In [2]:
# Loading the dataset 
def loaddata(filename):
    df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
    return df

book   = loaddata("../../BX-Books")
user   = loaddata("../../BX-Users")
rating = loaddata("../../BX-Book-Ratings")

C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')
C:\Users\lehan\AppData\Local\Temp\ipykernel_5660\1008396026.py:3: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(f'{filename}.csv',sep=';',error_bad_lines=False,warn_bad_lines=False,encoding='latin-1')

In [3]:
#Preprocessing Data
book = book[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
book.rename(columns = {'Book-Title':'title', 'Book-Author':'author', 'Year-Of-Publication':'year', 'Publisher':'publisher'}, inplace=True)
user.rename(columns = {'User-ID':'user_id', 'Location':'location', 'Age':'age'}, inplace=True)
rating.rename(columns = {'User-ID':'user_id', 'Book-Rating':'rating'}, inplace=True)

In [4]:
rating

         user_id         ISBN  rating
0         276725   034545104X       0
1         276726   0155061224       5
2         276727   0446520802       0
3         276729   052165615X       3
4         276729   0521795028       6
...          ...          ...     ...
1149775   276704   1563526298       9
1149776   276706   0679447156       0
1149777   276709   0515107662      10
1149778   276721   0590442449      10
1149779   276723  05162443314       8

[1149780 rows x 3 columns]

In [5]:
# Let's visualize ratings given by users

rating_users = rating['user_id'].value_counts().reset_index().\
               rename({'index':'user_id','user_id':'rating'}, axis=1)
rating_users

        user_id  rating
0         11676   13602
1        198711    7550
2        153662    6109
3         98391    5891
4         35859    5850
...         ...     ...
105278   116180       1
105279   116166       1
105280   116154       1
105281   116137       1
105282   276723       1

[105283 rows x 2 columns]

In [6]:
# Let's visualize ratings received by books

rating_books = rating['ISBN'].value_counts().reset_index().\
               rename({'index':'ISBN','ISBN':'rating'}, axis=1)
rating_books

               ISBN  rating
0        0971880107    2502
1        0316666343    1295
2        0385504209     883
3        0060928336     732
4        0312195516     723
...             ...     ...
340551   1568656386       1
340552   1568656408       1
340553   1569551553       1
340554   1570081808       1
340555  05162443314       1

[340556 rows x 2 columns]

In [7]:
# In order to avoid rating bias & for making good recommendations, limit the dataset to only those
# users that have made at least 250 ratings & books that have received at least 50 ratings

rating = rating[rating['user_id'].isin(rating_users[rating_users['rating']>=250]['user_id'])]
rating = rating[rating['ISBN'].isin(rating_books[rating_books['rating']>= 50]['ISBN'])]

rating

         user_id        ISBN  rating
1456      277427  002542730X      10
1468      277427  006092988X       0
1469      277427  0060930535       0
1470      277427  0060932139       0
1471      277427  0060934417       0
...          ...         ...     ...
1147440   275970  1400031354       0
1147441   275970  1400031362       0
1147470   275970  1558744606       0
1147517   275970  1573229725       0
1147584   275970  1853260010       0

[81431 rows x 3 columns]

In [8]:
# For the recommendation system, it is prefered to have the book titles rather than ISBN for easier interpretation

rating = rating.merge(book, on="ISBN")[['user_id','title','rating','ISBN']] # merging with the book dataframe
rating                                                                         # on 'ISBN' to get 'Book-Title'

,user_id,title,rating,ISBN
0,277427,Politically Correct Bedtime Stories: Modern Ta...,10,002542730X
1,3363,Politically Correct Bedtime Stories: Modern Ta...,0,002542730X
2,11676,Politically Correct Bedtime Stories: Modern Ta...,6,002542730X
3,12538,Politically Correct Bedtime Stories: Modern Ta...,10,002542730X
4,13552,Politically Correct Bedtime Stories: Modern Ta...,0,002542730X
...,...,...,...,...
80889,234828,Ringworld,8,0345333926
80890,236283,Ringworld,0,0345333926
80891,249628,Ringworld,0,0345333926
80892,261829,Ringworld,0,0345333926
80893,264321,Ringworld,8,0345333926

In [9]:
# Check for duplicate values
print(f'Duplicate entries: {rating.duplicated().sum()}')

Duplicate entries: 0

In [10]:
rating.drop_duplicates(inplace=True)
rating

,user_id,title,rating,ISBN
0,277427,Politically Correct Bedtime Stories: Modern Ta...,10,002542730X
1,3363,Politically Correct Bedtime Stories: Modern Ta...,0,002542730X
2,11676,Politically Correct Bedtime Stories: Modern Ta...,6,002542730X
3,12538,Politically Correct Bedtime Stories: Modern Ta...,10,002542730X
4,13552,Politically Correct Bedtime Stories: Modern Ta...,0,002542730X
...,...,...,...,...
80889,234828,Ringworld,8,0345333926
80890,236283,Ringworld,0,0345333926
80891,249628,Ringworld,0,0345333926
80892,261829,Ringworld,0,0345333926
80893,264321,Ringworld,8,0345333926

## User-Based Collaborative Filtering Recommendation Algorithm

In [11]:
#Create user-item matrix
book_pivot = rating.pivot_table(columns='ISBN', index='user_id', values="rating")
book_pivot

ISBN,000649840X,0007110928,002026478X,0020442203,002542730X,0028604199,006000438X,0060008032,0060008776,006001203X,...,1860492592,1878424319,1885171080,1931561648,3257228007,3257229534,3404148665,3423202327,3442541751,3492045170
user_id,,,,,,,,,,,,,,,,,,,,,
254,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277427,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    We normalize the rating by extracting the average rating of users. After normalization, the item with a rating less then user's average rating get a negative value (user don't like item), and the item with a rating more than the user's average rating get a positive value (user likes item).

In [12]:
# Normalize user-item matrix
# axis = 1 cloumns
# axis = 0 index 
matrix_norm = book_pivot.subtract(book_pivot.mean(1), axis=0 )
matrix_norm

ISBN,000649840X,0007110928,002026478X,0020442203,002542730X,0028604199,006000438X,0060008032,0060008776,006001203X,...,1860492592,1878424319,1885171080,1931561648,3257228007,3257229534,3404148665,3423202327,3442541751,3492045170
user_id,,,,,,,,,,,,,,,,,,,,,
254,NaN,NaN,NaN,NaN,NaN,NaN,-1.909091,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-3.964912,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,NaN,NaN,NaN,NaN,-0.974026,-0.974026,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277427,NaN,NaN,NaN,NaN,7.966443,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,-0.261603,NaN,-0.261603,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Matrix with NaN values
matrix_norm_nan = matrix_norm.copy(deep=True)
matrix_norm_nan

ISBN,000649840X,0007110928,002026478X,0020442203,002542730X,0028604199,006000438X,0060008032,0060008776,006001203X,...,1860492592,1878424319,1885171080,1931561648,3257228007,3257229534,3404148665,3423202327,3442541751,3492045170
user_id,,,,,,,,,,,,,,,,,,,,,
254,NaN,NaN,NaN,NaN,NaN,NaN,-1.909091,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-3.964912,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,NaN,NaN,NaN,NaN,-0.974026,-0.974026,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277427,NaN,NaN,NaN,NaN,7.966443,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,-0.261603,NaN,-0.261603,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Identify Similar Users

In [14]:
matrix_norm.fillna(0, inplace=True)
matrix_norm.T

user_id,254,2276,2766,3363,3757,4385,6251,6543,6575,7158,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
000649840X,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-2.855422,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
0007110928,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
002026478X,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
0020442203,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.517647,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,-0.261603
002542730X,0.0,0.000000,0.0,-0.974026,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.517647,0.0,0.000000,0.0,0.0,0.0,0.0,7.966443,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3257229534,0.0,-3.964912,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3404148665,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3423202327,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3442541751,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3492045170,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [15]:
user_similarity = sparse.csr_matrix(matrix_norm)
user_similarity

<691x2161 sparse matrix of type '<class 'numpy.float64'>'
	with 79514 stored elements in Compressed Sparse Row format>

In [16]:
user_similarity_matrix = pd.DataFrame(cosine_similarity(user_similarity), index=matrix_norm.T.columns, columns=matrix_norm.T.columns)
user_similarity_matrix

user_id,254,2276,2766,3363,3757,4385,6251,6543,6575,7158,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
user_id,,,,,,,,,,,,,,,,,,,,,
254,1.000000,-0.015623,-0.002798,0.004938,0.0,0.000000,0.063709,0.043226,-0.023930,-0.009937,...,0.068968,-0.037098,0.002219,-0.046509,0.008984,0.032015,-0.027830,-0.033756,0.000000,-0.001464
2276,-0.015623,1.000000,-0.018641,-0.006587,0.0,0.089929,-0.000195,-0.034954,-0.031686,-0.012657,...,-0.006073,0.015273,0.006864,-0.016751,-0.025160,-0.007236,0.001707,0.010571,-0.006721,0.003323
2766,-0.002798,-0.018641,1.000000,0.010288,0.0,0.000000,-0.041933,-0.057512,-0.032338,-0.021971,...,0.005403,-0.028371,-0.002710,0.004100,-0.029200,-0.021176,0.033072,-0.045942,-0.052885,-0.009255
3363,0.004938,-0.006587,0.010288,1.000000,0.0,0.000000,-0.018594,0.008401,0.053378,0.033033,...,0.035348,-0.022155,0.003018,0.008860,0.001968,-0.011743,-0.008880,-0.009902,-0.007462,-0.011502
3757,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,0.032015,-0.007236,-0.021176,-0.011743,0.0,-0.011650,0.009845,-0.014718,0.013750,-0.009303,...,-0.024882,-0.021896,0.015605,-0.004447,0.004413,1.000000,0.001713,0.065349,-0.040852,0.009497
275970,-0.027830,0.001707,0.033072,-0.008880,0.0,-0.015113,0.010081,0.005020,0.071327,0.002457,...,-0.016969,-0.020536,-0.045460,-0.008851,-0.027338,0.001713,1.000000,-0.049865,-0.004979,-0.006460
277427,-0.033756,0.010571,-0.045942,-0.009902,0.0,0.000000,0.010259,0.002673,-0.041269,-0.000962,...,-0.044478,-0.002144,-0.007636,0.004151,0.034869,0.065349,-0.049865,1.000000,0.014618,0.000991
277639,0.000000,-0.006721,-0.052885,-0.007462,0.0,0.000000,-0.010810,0.018101,-0.004515,0.013395,...,0.000000,0.007040,0.008956,-0.003626,-0.037778,-0.040852,-0.004979,0.014618,1.000000,-0.004907
278418,-0.001464,0.003323,-0.009255,-0.011502,0.0,0.000000,0.061874,-0.002198,-0.030321,-0.040017,...,0.004058,0.044249,-0.002576,-0.041721,0.007071,0.009497,-0.006460,0.000991,-0.004907,1.000000

In the user similarity matrix, the values range from -1 to 1, where -1 means opposite book preference and 1 means same book preference

In [17]:
# number of similar users
k = 30
# Pick a user ID
picked_user = 30711
# Get top k similar users
similar_user = user_similarity_matrix[picked_user].sort_values(ascending=False)[1:k+1]
similar_user

user_id
198711    0.163505
187520    0.123055
175886    0.121857
208141    0.106314
112881    0.106060
175003    0.099646
208410    0.097388
88733     0.094710
20115     0.087188
177090    0.084262
208671    0.077191
242409    0.075792
196160    0.075705
6251      0.075567
192093    0.075104
165319    0.075099
179978    0.073547
156269    0.073414
146230    0.072731
85993     0.072090
170634    0.072085
23288     0.071781
78553     0.070769
36609     0.069436
162052    0.069380
30735     0.068985
109955    0.068008
13082     0.067897
238699    0.067376
39281     0.066801
Name: 30711, dtype: float64

We narrow down items by doing the following:
<ul><li> Remove the books that have been read by target user
    <li> Keep only the movies that similar users have read

In [18]:
# Books that similar users read. Remove that none of the similar users have read
similar_user_book = matrix_norm_nan[matrix_norm_nan.index.isin(similar_user.index)].dropna(axis=1, how='all')
similar_user_book

ISBN,000649840X,002026478X,0020442203,002542730X,0028604199,0060008032,0060008776,0060083948,0060090367,0060096195,...,1573225789,1573228737,1573229083,157322930X,1573229571,1573229725,1576737330,1860492592,1878424319,1885171080
user_id,,,,,,,,,,,,,,,,,,,,,
6251,NaN,NaN,NaN,NaN,NaN,NaN,-1.537778,-1.537778,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.537778,NaN,NaN,NaN,NaN,NaN
13082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36609,NaN,NaN,NaN,NaN,NaN,-1.191919,NaN,NaN,-1.191919,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.176471,NaN
78553,NaN,NaN,NaN,NaN,NaN,-3.375000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88733,NaN,NaN,-2.330986,-2.330986,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109955,NaN,NaN,NaN,NaN,NaN,-1.517241,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.401274,...,NaN,NaN,NaN,-0.401274,NaN,NaN,NaN,NaN,NaN,-0.401274
146230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.181818,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175003,NaN,NaN,NaN,NaN,NaN,-0.233766,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.538462,NaN,NaN
177090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.357143,NaN,NaN
192093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.926471,NaN,-1.926471,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196160,NaN,NaN,NaN,NaN,-2.943662,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198711,NaN,-0.008457,NaN,-0.008457,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008457
208141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208410,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN
208671,NaN,NaN,NaN,4.429825,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.429825,NaN,NaN,NaN
238699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.153846,NaN,NaN,NaN,6.153846,NaN,NaN,NaN,NaN

In [19]:
# Books that the target user has watched
picked_userid_read = matrix_norm_nan[matrix_norm_nan.index == picked_user].dropna(axis=1, how='all')
picked_userid_read

ISBN,0060392452,0060502258,0060932139,0060977493,0060987103,0061031410,0064401847,0064472795,0099771519,0140119906,...,0812511816,0812513711,0812517725,0842342702,0886777631,1400031354,1400031362,1400034779,1558743669,1558745157
user_id,,,,,,,,,,,,,,,,,,,,,
30711,-2.675325,5.324675,-2.675325,-2.675325,-2.675325,-2.675325,5.324675,-2.675325,5.324675,-2.675325,...,4.324675,-2.675325,-2.675325,-2.675325,-2.675325,-2.675325,-2.675325,-2.675325,5.324675,-2.675325

In [20]:
# Remove the read books from the book list
similar_user_book.drop(picked_userid_read.columns,axis=1, inplace = True,errors = 'ignore')
similar_user_book

ISBN,000649840X,002026478X,0020442203,002542730X,0028604199,0060008032,0060008776,0060083948,0060090367,0060096195,...,1573225789,1573228737,1573229083,157322930X,1573229571,1573229725,1576737330,1860492592,1878424319,1885171080
user_id,,,,,,,,,,,,,,,,,,,,,
6251,NaN,NaN,NaN,NaN,NaN,NaN,-1.537778,-1.537778,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.537778,NaN,NaN,NaN,NaN,NaN
13082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36609,NaN,NaN,NaN,NaN,NaN,-1.191919,NaN,NaN,-1.191919,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.176471,NaN
78553,NaN,NaN,NaN,NaN,NaN,-3.375000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88733,NaN,NaN,-2.330986,-2.330986,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109955,NaN,NaN,NaN,NaN,NaN,-1.517241,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.401274,...,NaN,NaN,NaN,-0.401274,NaN,NaN,NaN,NaN,NaN,-0.401274
146230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.181818,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175003,NaN,NaN,NaN,NaN,NaN,-0.233766,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.538462,NaN,NaN
177090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.357143,NaN,NaN
192093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.926471,NaN,-1.926471,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196160,NaN,NaN,NaN,NaN,-2.943662,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198711,NaN,-0.008457,NaN,-0.008457,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008457
208141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208410,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN
208671,NaN,NaN,NaN,4.429825,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.429825,NaN,NaN,NaN
238699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.153846,NaN,NaN,NaN,6.153846,NaN,NaN,NaN,NaN

In [21]:
item_score = {}

for i in similar_user_book.columns:
    book_rating = similar_user_book[i]
    # create a variable to score the score
    total = 0
    # variable to store the number of score
    divide = 0
    for u in similar_user.index:
        if pd.isna(book_rating[u]) == False:
            score = similar_user[u] * book_rating[u]
            total +=score
            divide += abs(book_rating[u])
    # get average score for item 
    item_score[i] = total/(divide+1e-8)

m = 10
item_score = pd.DataFrame(item_score.items(), columns=['ISBN', 'book_score'])
ranked_item_score = item_score.sort_values(by= 'book_score', ascending=False)

ranked_book = ranked_item_score.head(10)
ranked_book

            ISBN  book_score
1216  0679751521    0.121857
81    0140067779    0.106060
641   0440343194    0.094710
866   0515095826    0.094710
275   0345446860    0.094710
121   0156528207    0.094710
874   0515115649    0.094325
208   0345339681    0.093360
1244  0740723367    0.089610
1170  0671793489    0.087820

In [22]:
book_recommend = pd.merge(book, ranked_book, on="ISBN").sort_values(by= 'book_score', ascending=False)
book_recommend

,ISBN,title,author,year,publisher,book_score
5,0679751521,Midnight in the Garden of Good and Evil,John Berendt,1999,Vintage Books USA,0.121857
6,0140067779,Obasan,Joy Kogawa,1983,Penguin Books,0.106060
3,0515095826,The Cat Who Knew Shakespeare,Lilian Jackson Braun,1988,Jove Books,0.094710
7,0440343194,Illusions,Richard Bach,1981,Bantam Doubleday Dell,0.094710
2,0345446860,Back When We Were Grownups : A Novel (Ballanti...,ANNE TYLER,2002,Ballantine Books,0.094710
0,0156528207,The Little Prince,Antoine de Saint-ExupÃƒÂ©ry,1968,Harcourt,0.094710
9,0515115649,The Cat Who Came to Breakfast,Lilian Jackson Braun,1995,Jove Books,0.094325
4,0345339681,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,1986,Del Rey,0.093360
8,0740723367,The Meaning Of Life,Bradley Trevor Greive,2002,Andrews McMeel Publishing,0.089610
1,0671793489,All Around the Town,Mary Higgins Clark,1993,Pocket Star,0.087820